body {
    margin: 10;
    padding: 10;
    justify-content:center;
    text-align:center;
    background:cyan;
    color:red;
    font-family: 'Happy Monkey', system-ui, sans-serif;
}

#info{
    display:flex;
    flex-direction:column;
    align-items:center;
}

.image{
    border:4px solid red;
    border-radius:50%;
    width:400px;
}

h1,h2,h3,h4{
    text-shadow:1px 1px 1px black;

}

h2,h3,h4{
    background:rgb(199, 199, 226);
    padding:4px;
    border-radius:2%;
}

h1{
    background:rgb(192, 210, 180);
    border:1px solid green;
    border-radius: 40px;
    padding:10px;
}

#giftsection{
    display:flex;
    flex-direction:column;
    align-items:center;
}

.giftimg{
    width:400px;
    height:400px;
    margin:10px;
    padding:10px;
    background:green;
    border:2px solid green;
    border-radius:10px;
    background-image:url("gift box.jpg");
    background-position:center;
    background-size:cover;
}


.gifttitle{
    background:white;

}

.giftimg:hover {
  background: url("goku eating.gif");
  width: 400px;
  height: 400px;
  margin: 10px;
  padding: 100px;
  border: 2px solid green;
  border-radius: 10px;
  background-position: center;
  background-size: cover;
  transition: all 0.5s steps(15);

}

#giftsection:hover #gifttitle {
  color: blue;
  font-size: 28px;
  text-transform: uppercase;
  transition: 0.7s ease;
}